.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 3rem;
    box-shadow: 0rem 0.75rem 1.5rem 0.75rem rgb(5, 53, 72);
}

.mossary-logo {
    width: 50%;
    height: 50%;
}